In [3]:
from drawdata import draw_scatter

draw_scatter()

In [4]:
import pandas as pd 
pd.read_clipboard(sep=",")

              x           y  z
0     92.540774  406.576228  a
1    123.202011  363.740481  a
2    139.030675  370.128659  a
3     96.162548  342.540176  a
4    106.748433  381.538811  a
..          ...         ... ..
417  447.339756  387.385852  c
418  421.270412  392.467557  c
419  403.928994  386.526975  c
420  383.729114  396.208545  c
421  409.122154  362.311872  c

[422 rows x 3 columns]